// @mixin flexCenter {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: 'Asap', sans-serif;
}



.main {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    display: block;
    padding-bottom: 100px;
}

//LANDING PAGE
.carousel {
    max-height: 55vh;
}
.carousel-item {
    max-height: 55vh;
}

.carousel-inner {
    max-height: 55vh;
}

.landing {
    display: flex;
    // width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 2vw 0 2vw;
    img {
        width: 100%;
        max-width: 400px;
        height: 200px;
        border-radius: 5px;
    }
}

.landing-header {
    margin: 0.2em 0 1em 1em;
    font-weight: 700;
    font-family: 'Asap', sans-serif;
    margin-bottom: 1em;
}



section article {
    margin: 0 0.8em 2em 0.8em;
    height: 380.44px;
    max-width: 370.22px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    p, time {
        margin-left: 1em;
        color: #6f7287;
    }
}


figcaption {
    margin-left: 1em;
    color: #39364f;
    font-weight: 600;
    font-size: 1.25rem;
}

//BROWSE EVENTS

.browse {
    margin-left: 10vw;
}
.browse-events {
    display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // height: 500px;
    // overflow: hidden;
}

.browse-form {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 2em;
    width: 40vw; 
    button {
        height: 40px;
        width: 90px;
    }

    select {
        padding: 1em;
        height: 30px;
        width: 100px;
        border-radius: 15px;
    }

    input {
        font-size: 2em;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 1em;
    }

    .filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    button {
        margin-right: 1em;
    }
}

.event-info {
    flex-wrap: wrap;
    width: 50%;
    p {
        font-size: 0.75rem;
    }
}

.location-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event-row {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    h3 {
        margin-top: 1rem;
        color: #39364f;
        font-size: 1rem;
    }
    p {
        color: #6f7287;
    }
}



.event-image {
    width: 220px;
    img {
        border-radius: 5px;
        width: 100%;
        max-width: 220px;
        height: 110px;

    }
}

.browse-map {
    width: 300px;
    height: 300px;
    img {
        border-radius: 5px;
        margin-right: 2em;
        position: -webkit-sticky;
        position: sticky;
        top: 20%;
        align-self: flex-start;
        position:fixed;
          right:10%;
          top: 20%;
          height: 300px;
          width: 300px;
        // max-width: 100%;
        // height: 100%;
    }
}


//CREATE EVENT
.create-form {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .create-inputs {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
    }
}

//MAP INFO WINDOW
.info-window {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    h1 {
        font-size: 0.95rem;
    }

    .window-image {
        width: 150px;
        height: auto;
    }

    img {
        max-width: 100%;
        // width: 100%;
        height: auto;
    }
}

//FOOTER

footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    background-color: #272831;
    margin: 0;
    display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
    font-size: 14px;
}

footer li {
    text-decoration: none;
}

.footer {
    margin-top: 1em;
    color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    a {
        color: #FFF;
        text-decoration: none;
    }
    
}

@media (max-width: 1236px){
    section article {
        width: 100%;
        // min-width: 120px;
        max-width: 480px;
        height: auto;
        flex-shrink: 1;
    }
}

@media (max-width: 1053px){
    section article {
        width: 100%;
        // min-width: 120px;
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 960px){
    .the-map {
        display: none;
    }

    .event-row {
        width: 90vw;
    }

    .event-image img {
        width: 100px;
        max-width: 100px;
    }
}

@media (max-width: 886px){
    section article {
        width: 100%;
        // min-width: 120px;
        max-width: 320px;
        height: auto;
    }
}


@media (max-width: 719px){
    section article {
        width: 100%;
        // min-width: 120px;
        max-width: 280px;
        height: auto;
    }
}

@media (max-width: 792px){
    .event-image {
        height: 100px;
        width: 100px;
        img {
            height: 100%;
        }
    }

    .browse {
        margin-left: 1em;
        margin-right: 0.5em;
    }

    .browse-form {
        width: 70vw;
    }
}

@media (max-width: 637px){
    section article {
        width: 100%;
        // min-width: 120px;
        max-width: 100%;
        height: 400px;
    }
    .landing img {
        width: 100%;
        max-width: 100%;
        max-height: 250px;
        height: auto;
        border-radius: 5px;
    }
}